<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Subject Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true">
        <report>
            <text outputFile="coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="SLACK_URL" value="http://localhost:8081"/>
        <var name="APP_ENV" value="testing"/>
    </php>
</phpunit>
